// -*- mode: javascript -*-

// SPDX-FileCopyrightText: 2025 Kristen McWilliam <kristen@kde.org>
//
// SPDX-License-Identifier: LGPL-2.1-or-later

// Polkit rule allowing Plasma Setup to run actions without requiring interactive authentication.
//
// /etc/polkit-1/rules.d/plasma-setup.rules

polkit.addRule(function (action, subject) {
    // Uncomment the following log action for debugging purposes
    // polkit.log("plasma-setup: action: " + action + ", subject: " + subject);

    // Only allow actions for the "plasma-setup" user.
    if (subject.user !== "plasma-setup") {
        return;
    }

    // Actions that are allowed without authentication for the "plasma-setup" user.
    var allowedActions = [
        "org.freedesktop.locale1.set-keyboard", // Keyboard layout
        "org.freedesktop.locale1.set-locale", // System locale
        "org.kde.plasmasetup.createuser", // User creation
        "org.kde.plasmasetup.createflagfile", // Create completion flag file
        "org.kde.plasmasetup.createnewuserautostarthook", // Create autostart hook for new user to perform cleanup tasks
        "org.kde.plasmasetup.removeautologin", // Remove SDDM autologin
        "org.kde.plasmasetup.setnewuserglobaltheme", // Set global theme for new user
        "org.kde.plasmasetup.setnewuserdisplayscaling", // Set display scaling for new user
        "org.kde.plasmasetup.setnewusertempautologin", // Set temporary autologin for new user
        "org.freedesktop.timedate1.set-timezone", // Set system timezone
    ];

    // Check if the current action is in our allowed list.
    if (allowedActions.indexOf(action.id) >= 0) {
        polkit.log("plasma-setup: allowing action " + action.id);
        return polkit.Result.YES;
    }
});
